<!DOCTYPE html>
<html lang="en">
<!-- Include the head partial as done in other views -->
<%- include("./partials/head.ejs") %> 

<body>
  <!-- Include the navigation partial -->
  <%- include("./partials/nav.ejs") %> 

  <div class="blogs content">
    <h2>All Blogs</h2>

    <!-- Check if there are blogs to display and loop through them -->
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <!-- Surround the h3 and paragraph with an anchor tag for the details link -->
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3><%= blog.title %></h3>
          <p><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
  </div>

  <!-- Include the footer partial -->
  <%- include("./partials/footer.ejs") %> 
</body>
</html>